<div id="news-listing">
  <ul>
    <% @newsitems.each do |newsitem| -%>
      <li>
        <%= link_to_current_newsitem(newsitem) %>
      </li>
    <% end -%>
    <li class="more"><%= link_to "News Archive...", :action=> :index, :year => "all" %></li>
  </ul>
</div>
