/* HYPERLINK COLORS */
a { text-decoration: underline; background-color: transparent;}
a:link { color: #333366;}
a:visited { }
a:hover  { color: #9999cc;}
a:active, a:focus {
	color: #666699;
	background: #ffffcc;
}

#accessibility {
	position: absolute;
	top: -9000px; /* Move links off-screen */
}

#accessibility a:focus {
	display: block;
	position: absolute;
	top: 9001px;
	color: #666699;
	background: #ffffcc;
	padding: 1em;
	width: 100%;
	border: none;
	z-index: 300;
	white-space: nowrap;
}

/* NAVIGATION BAR */
.navigation ul { margin: 0px; padding: 0px; list-style-type: none;}
.navigation ul li { margin: 10px 0px; padding: 0px;}
.navigation ul li ul { margin: 0px; padding: 0px; list-style-type: none;}
.navigation ul li ul li { padding-left: 1em; font-weight: normal;}
.navigation p { margin: 0px; padding: 0px;}


/* AUTO-SELECTING NAVIGATION http://24ways.org/advent/auto-selecting-navigation */
body.home #navbar li.home,
body.about #navbar li.about,
body.academics #navbar li.academics,
body.internships #navbar li.internships,
body.events #navbar li.events,
body.corporate #navbar li.corporate,
body.alumni #navbar li.alumni,
body.faculty #navbar li.faculty,
body.contact #navbar li.contact,
body.students #navbar li.students,
body.senior-design #navbar li.senior-design,
body.prospective #navbar li.prospective,
body.current #navbar li.current,
body.courses #navbar li.courses,
body.sitemap #navbar li.sitemap { font-weight: bold;}


/* REDEFINED HTML TAGS */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	background-color: #E9E0C8;
	margin: 0;
	padding: 0;
	background-image: url(/images/background-wide.jpg);
	background-repeat: repeat-y;
	background-position: 0px 0px;
}

td { font-family: Arial, Helvetica, sans-serif;}
p { font-family: Arial, Helvetica, sans-serif;}
ol,ul,li { font-family: Arial, Helvetica, sans-serif;}
b { font-weight: bold;}
strong { font-weight: bold;}
i { font-style: italic;}
em { font-style: italic;}
img {
	border: none;
	margin: 0px;
}


div.img-right {
	float: right;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	border: none;
	width: 266px;
}
.img-right {
	float: right;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	border: none;
}

.img-left {
	float: left;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	border: none;
}

p.img-caption {
	font-size: 80%;
	background-color: #FFFFFF;
	margin: 0px;
	padding: 5px;
}

.arrows li {
	list-style-image: url(/images/arrow.gif);
	font-size: 130%;
	line-height: 1.5em;
}
.skip { font-size: 65%; color: #FFFFFF; text-decoration: none; background-color: transparent;}
.search { font-family: Arial, Helvetica, sans-serif; font-size: 11px;}
.bodycopy-small { font-family: Arial, Helvetica, sans-serif; font-size: 75%;}


/* HEADINGS */
h1 { font-size: 150%; font-weight: bold; color: #660000;}
h2 {
	font-size: 120%;
	color: #993333;
}
h3 {
	font-size: 110%;
	color: #993333;
}
h4 {
	font-weight: bold;
	font-size: 100%;
}
h5 { font-size: 110%; font-weight: bold; color: #660000;}
h6 { font-size: 100%; font-weight: bold; color: #660000;}


/* LAYOUT */
#wrapper {
	width: 740px;	/* Center the layout (longhand margin properties kind to Mac/IE) */
	text-align: left;
	background: transparent;
	margin: 0px;
	padding: 0px;
}

#header {
	width: 100%;
	padding: 0;
	margin: 0;
	clear: both;
	position: relative;
	height: 72px;
	background-repeat: no-repeat;
	background-image: url(/images/background-header.jpg);
	background-position: 200px 0px;
	border-bottom: 16px solid #003366;
}

#sidebar {
	padding: 0;
	margin: 0;
	float: left;
	width: 190px;
}

#search {
	padding: 0;
	margin: 1em 0 2em 0;
}

#content {
	width: 540px;
	float: right;
	padding: 0;
	margin-top: 16px;
	margin-bottom: 16px;
}

/* FOOTER */

#footer-css {
	clear: both;
	float: left;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

#footer-css a {
	text-decoration: none;
}

#footer-css dl {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0 0 16px 0;
}

#footer-css dt {
	font-weight: bold;
	color: #003366;
}

#footer-css dt a {
	color: #003366;
}

#footer-css dt a:hover {
	color: #9999cc;
}

#footer-css dd {
	margin: 0;
	padding: 0;
}

a#footer-contact-name {
	text-decoration: underline;
}

a#footer-contact-name:hover { 
	color: #9999cc;
}


/* GUTTERS */

#header .gutter {
	padding: 20px 0 0 220px;
	width: 520px;
}

#content .gutter {
	padding: 0 20px;
}

#sidebar .navigation {
	padding-top: 6px; /* Align the top navigation link with the page heading <h2> */
	padding-left: 20px;
}

#footer-css .gutter {
	padding: 16px 0;
	margin: 0 20px 0 220px;
	border-top: 1px solid #000000;
}


/* NAMEPLATES */
/*
  jdfrens modified from Luke Robinson's original since he had real text,
  not an image.
  */
h1#nameplate-dept {
	display: block;
	margin: 0;
  width: 181px;
  height: 39px;
	background: transparent url(/images/nameplate.gif) no-repeat left top;
  border: none;
	text-indent: -9000px; /* Move text link off-screen */
  text-decoration: none;
	float: right;
}

h1#nameplate-dept a {
	display: block;
	width: 181px;
	height: 39px;
	background: transparent url(/images/nameplate.gif) no-repeat left top;
	border: none;
}

/* 
Logo Image Replacement technique is from CSS: Mastery (page 235-236) by Andy Budd.
Pixy-Style Rollover technique is from CSS: Mastery (page 78-79) by Andy Budd. 
*/

#nameplate-calvin {
	float: left;
	background: transparent;
}

h1#nameplate-calvin {
	display: block;
	margin: 0;
	width: 168px;
	height: 29px;
	background: transparent url(/images/nameplate-calvin-rollover.gif) no-repeat right top; /* Calvin logo */
	border: none;
	text-indent: -9000px; /* Move text link off-screen */
	text-decoration: none;
	float: left;
}

h1#nameplate-calvin a {
	display: block;
	width: 168px;
	height: 29px;
	background: transparent url(/images/nameplate-calvin-rollover.gif) no-repeat left top; /* Calvin logo */
	border: none;
}

h1#nameplate-calvin a:hover {
	display: block;
	width: 168px;
	height: 29px;
	background: transparent url(/images/nameplate-calvin-rollover.gif) no-repeat right top; /* Calvin logo */
	border: none;
}

/* Forms */



form {
  margin: 0px;
  padding: 0px;
}



fieldset {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #666634;
}



legend {
  font-weight: bold;
  color: #000000;
  margin: 0px;
  padding: 0.5em;
}



label {
  display: inline;
}


/* Tables */



.data-table {
	border: 1px solid #999999;
	border-collapse: collapse;
	width: auto;
}

.data-table td {
	border: 1px solid #999999;
	padding: 0.5em;
	color: #000000;
	font-size: .8em;
}

.data-table th {
	border: 1px solid #999999;
	padding: 0.5em;
	color: #333333;
	background-color: #EEEEEE;
}

.data-table tr.altrow {
	background-color: #F7EDD4;
}

/* TWO COLUMN LAYOUT */
.columns {
	float: left;
	clear: both;
	width: 500px;
	background-color: transparent;
	margin-bottom: 1em; /* See end of style sheet from IE fix*/
}

.columns-1 {	
	float: left;
	clear: left;
	width: 240px;
}
.columns-2 {
	float: right;
	clear: right;
	width: 240px;
}
.columns-3 {
	float: left;
	clear: left;
	width: 140px;
}
.columns-4 {
	float: right;
	clear: right;
	width: 340px;
}

.columns h3 {
	border-bottom: 1px solid #993333;
}



/* TASK SIDEBAR - Silk Icon Set 1.3 by Mark James www.famfamfam.com/lab/icons/silk */

#task {
	font-size: 80%;
	float: left;
	padding: 0;
	margin: 0;
	text-align: left;
	width: 160px;
	background: url(/images/background-corner.gif) no-repeat top right;
	background-color: transparent;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
}

#task dl {
	float: left;
	margin: 0;
	padding: 1em;
	background-color: transparent;
}

#task dt {
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #666666;
	margin: 0 0 .5em 0;
	text-transform: uppercase;
}

#task dt a:hover {
	color: #9999cc;
}

#task dd {
	margin: 0 0 .5em 0;
	padding: 0;
	height: 16px;
	text-indent: 20px;
}

dd#task-contact {
	background: url(/images/telephone.gif) no-repeat;
}
dd#task-visit {
	background: url(/images/car.gif) no-repeat;
}
dd#task-request {
	background: url(/images/book-open.gif) no-repeat;
}
dd#task-apply {
	background: url(/images/application-form.gif) no-repeat;
}



/* BOXES - Dan Cederholm's Indestructible Boxes */

.box {
	background: url(/images/background-box-bottom.gif) no-repeat left bottom;
	width: 240px;
	margin: 0;
}

.box h3 {
	background: url(/images/background-box-top.gif) no-repeat top left;
	padding: 10px;
	margin: 0;
	border-bottom: 1px solid #993333;
	color: #BC6D50;
	font-size: 120%;
}

.box ul {
	margin: 0;
	padding: 1em;
	list-style: none;
}

.box ul li {
	margin-bottom: 1em;
	list-style: none;
}

.box img {
	padding: 1em 1em 0 1em;
}

/* Fix IE */
*html .columns { margin-bottom: 0px;}
