div#error {
    font-size: larger;
    color: red;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fieldWithErrors {
    padding: 2px;
    background-color: red;
    display: table;
}

.identifier, .view-edit, .logout {
    text-align: right;
    font-size: small;
}

.current-news {
}
.past-news {
}

.more {
  clear: both;
  font-size: xx-small;
}

.goes_live_date {
  font-size: xx-small;
  font-style: italic;
}
#news_listing .goes_live_date {
	padding-left: 2em;
}

.instruction {
	color: #949494;
	font: 14px Tahoma;
}

/* List of images */

#image_list {
  width: 775px;
}

#image_list td, #image_list th {
  vertical-align: top;
}

#image_list .image_form form {
  border: dotted;
  margin-bottom: 20px;
}

/* Editing mode changes */

div.content-editor {
  padding: 10px 10px 10px 10px;
  background-color: pink;
  clear: both;
}

.comment {
  background-color: pink;
}

/* HOME PAGE */
/* News */

div#news ul {
  font-size: small;
  padding: 0;
}
div#news li {
  padding-bottom: 0.25em;
  list-style-type: none;
}

/* Displaying whole news items */

#news_listing li {
	list-style-image: url(/images/arrow.gif);
	line-height: 1.5em;
}

#news_listing li.other {
  list-style: none;
  font-style: italic;
}

#news_listing td {
  line-height: 1.5em;
}

div.news_item {
    padding-top: 2px;
    padding-bottom: 2px;
}

div.news_item h2 {
    display: inline;
}

div.news_item div.content {
    display: inline;
}

div#news_teaser {
    font-style: italic;
}

/* Faculty & staff listing */

table.listing td {
    vertical-align: top;
}

table.listing h2 {
    padding: .2em 0 0 0;
    margin: 0;
}

table.listing p {
	font-size: small;
    padding: .2em 0;
    margin: 0;
}

table.listing div.name p {
    padding: 0;
    margin: 0;
}

table.listing div.contact_information {
    padding: .2em 0;
    margin: 0;
}
table.listing div.contact_information p {
    padding: 0;
    margin: 0;
}

/* Viewing a user */

div#education ul {
    margin: 1em;
    padding: 0;
}

/* Mean formatting. */

b {
	font-size: 100px;
	color: red;
}
