div#error {
    font-size: larger;
    color: red;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fieldWithErrors {
    padding: 2px;
    background-color: red;
    display: table;
}

.identifier, .view-edit, .logout {
    text-align: right;
    font-size: small;
}

.current-news {
}
.past-news {
    background-color: pink;
}

/* Editing mode changes */

div.content-editor {
  padding: 10px 10px 10px 10px;
  background-color: pink;
}

.comment {
  background-color: pink;
}

/* HOME PAGE */
/* News */

div#news ul {
  font-size: small;
  padding: 0;
}
div#news li {
  padding-bottom: 0.25em;
  list-style-type: none;
}
div#news a.more {
  font-size: xx-small;
}

/* Displaying whole news items */

div.news_item {
    padding-top: 2px;
    padding-bottom: 2px;
}

div.news_item h2 {
    display: inline;
}

div.news_item div.content {
    display: inline;
}

div#news_teaser {
    font-style: italic;
}

/* Faculty listing */

table#faculty_listing td {
    vertical-align: top;
}

table#faculty_listing ul {
    list-style-type: none;
    padding-left: 1em;
    font-size: small;
}

table#faculty_listing p {
	font-size: small;
}

/* Mean formatting. */

b {
	font-size: 100px;
	color: red;
}
