body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	background-image: none;
	background-color: #ffffff;
	margin: 0;
	padding: 0;
}

/* Hide items when printing */

.hide, #accessibility, #header, #sidebar, #navbar, #search-box, #search-container, #share, #footer, #footer-css {display: none  !important;}

/* Print */

#wrapper {
	float: none !important;
	width: 100%;
	text-align: left;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

#content {
	float: none !important;
	text-align: left;
	display: block;
	width: 100% !important;
	height: auto;
	background-color: #fff;
}

img {border: none;}
.img-left {float: left; margin: 0 0 20px 20px;}
.img-right {float: right; margin: 0 0 20px 20px;}

/* HEADINGS */

h1 {
	font-size: 160%;
	font-weight: normal;
	color: #000000;
	border-bottom: 1px solid #999999;
}

h2 { font-size: 150%; font-weight: bold; color: #98002E; }

h3 {
	font-size: 130%;
	font-weight: normal;
	color: #98002E;
	text-align: left;
	padding-left: 0;
	margin-left: 0;
}
h4 {
	font-size: 130%;
	font-weight: normal;
}
h5 { font-size: 110%; font-weight: bold; color: #98002E;}
h6 { font-size: 100%; font-weight: bold; color: #98002E;}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {display: block;}


/* ---------------------- Adjust fix column widths to fluid-based (%) for improved printing ---------------------- */

/* THREE COLUMN LAYOUT (#threeColLayout) */

#threeColLayout #primaryContent {
	float: left;
	width: 33%;
	margin: 0;
	padding: 0;
}

#secondaryContent { /* This column is used only in the Three Column Layout */
	float: left;
	width: 33%;
	margin: 0;
	padding: 0;
}

#sideContent {
	float: right;
	width: 33%;
	padding: 0;	
	margin: 0;
	_margin-right: -3px; /* Fix "IE 6 Duplicate Character Bug" with margin-right: -3px */
}


/* TWO COLUMN LAYOUT (#twoColLayout) */

#twoColLayout #primaryContent {
	float: left;
	width: 45%;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: visible;
}

#twoColLayout #sideContent {
	float: left;
	width: 45%;;
	padding: 0;
	margin: 0;
	_margin-right: -3px; /* Fix "IE 6 Duplicate Character Bug" with margin-right: -3px */
}

#twoColLayout #secondaryContent {
	display: none;
	margin: 0;
	padding: 0;
}


/* DEFAULT LAYOUT (#defaultLayout) */

#defaultLayout #primaryContent {
	float: left;
	width: 60%;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: visible;
}

#defaultLayout #sideContent {
	float: right;
	width: 30%;
	padding: 0;
	margin: 0;
	border-left: 1px solid #999999;
	background: none;
}

#defaultLayout #sideContent .gutter {
	padding: 0 30px 5px 10px;
}

#defaultLayout #sideContent h2, #defaultLayout #sideContent h3 {
	margin-top: 10px;
}

#defaultLayout #secondaryContent {
	display: none;
	margin: 0;
	padding: 0;
}


/* ONE COLUMN LAYOUT (#oneColLayout) */

#oneColLayout #primaryContent {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: visible;
}

#oneColLayout #secondaryContent, #oneColLayout #sideContent {
	display: none;
	margin: 0;
	padding: 0;
}

