<h1><%= h(document.title) %></h1>

<p><%= document.render_content %></p>

<% restrict_to :admin do -%>
  <p class="view-edit">
    <%= link_to 'view/edit', :controller => 'document', :action => 'view', :id => document.identifier %>
  </p>
<% end -%>
