<% unless no_header -%>
  <h1><%= h(page.title) %></h1>
<% end -%>

<p><%= page.render_content %></p>

<% restrict_to :admin do -%>
  <p class="view-edit">
    <%= link_to 'view/edit', :controller => 'page',
            :action => 'view', :id => page.identifier %>
  </p>
<% end -%>
