<div id="title">
  <h1>
    <%= format_titles @event %>
    <% if current_user -%>
        <span class="more"><%= link_to "edit...", edit_event_path(@event) %></span>
    <% end -%>
  </h1>
</div>

<% if @event.presenter -%>
    <div id="event-presenter">
      <p><%= textilize_without_paragraph @event.presenter %></p>
    </div>
<% end -%>

<div id="event-description">
  <%= textilize @event.description %>
</div>
