<% if !current_user && @image -%>
  <div class="img-right">
    <%= image_tag @image.url, :id => "cool-pic", :class => "img-right" %>
    <p class="img-caption"><%= @image.render_caption %></p>
  </div>
<% end %>
