<% @news_items.each do |news_item| %>
  <div id="<%= "news_item_#{news_item.id}" %>" class="news_item">
    <h2><%= h(news_item.headline) %></h2>
	<p class="goes_live_date">Posted on <%= news_item.goes_live_at.to_s(:last_updated) %></p>
    <div class="content">
      <%= news_item.render_content %>
    </div>
    
    <p class="more"><a href="#top">back to top...</a></p>
  </div>
<% end %>
