<div id="news-listing">
  <ul>
    <% @news_items.each do |news_item| -%>
      <li>
        <%= link_to_current_news_item(news_item) %>
      </li>
    <% end -%>
    <li class="more"><%= link_to "News Archive...", :action=> :index, :year => "all" %></li>
  </ul>
</div>
