<h1>News</h1>

<p>
  <%= link_to "all", { :action => "list", :id => "all" } %>
  |
  <%= link_to "current", { :action => "list", :id => "current" } %>
</p>

<p>News items are listed in reverse chronological order based on the expiration date.  Expired news is pink.</p>

<div id="newsItems">
  <%= render :partial => 'newsitems' %>
</div>

<% restrict_to :edit do -%>
  <p><%= link_to 'Create new news item', :action => 'new' %></p>
<% end -%>

