<h1>News of <%= @year %></h1>

<div id="news-listing">
  <%= render :partial => 'newsitems' %>
</div>

<% restrict_to :edit do -%>
  <p><%= link_to 'Create new news item', :action => 'new' %></p>
<% end -%>
