<h1><%= h(@news_item.title) %></h1>

<div id="news_brief_description">
  <p>
    <%= h(@news_item.brief_description) %>
  </p>
</div>

<div id="news_content">
  <p><%= @news_item.render_content %></p>
</div>
