<h1><%= h(@news_item.title) %></h1>

<p>
  <strong>Brief Description:</strong>
  <span id="news_brief_description">
    <%= h(@news_item.brief_description) %>
  </span>
</p>

<div id="news_content">
  <p><%= @news_item.render_content %></p>
</div>
