<% if @image %>
  <div class="<%= image_class @image %>">
    <%= image_tag @image.url, :id => "cool-pic", :class => "img-right" %>
    <p class="img-caption"><%= johnny_textilize_lite(@image.caption) %></p>
  </div>
<% end %>
