<% if @image -%>
  <div class="<%= image_class @image %>">
    <%= image_tag @image.url, :id => "cool-pic", :class => "img-right" %>
    <p class="img-caption"><%= textilize_without_paragraph @image.caption %></p>
  </div>
<% end %>
