<h1>All Pages</h1>

<% if flash[:error] -%>
    <div id="error"><%= h(flash[:error]) %></div>
<% end -%>

<p><%= link_to 'Create a new page', new_page_path %></p>

<table summary="page list">
  <tr>
    <th>Identifier</th>
    <th>Title (click to edit)</th>
    <th></th>
  </tr>
  <%= render :partial => "page_entry", :collection => @pages %>
</table>

