<h1>List of Pages</h1>

<% if flash[:error] -%>
    <div id="error"><%= h(flash[:error]) %></div>
<% end -%>

<p><%= link_to 'Create a new page', new_page_path %></p>

<h2>Normal Pages</h2>

<p>These are the standard pages for the website.
  Use <code>/p/<em>identifier</em></code> as the path to these pages.</p>

<table summary="normal pages">
  <tr>
    <th>Identifier</th>
    <th>Title</th>
    <th></th>
  </tr>
  <%= render :partial => "page_entry", :collection => @normal_pages %>
</table>

<h2>Subpages</h2>

<p>Subpages make up partial content of other pages (like the home page and
  faculty information).</p>

<table summary="subpages">
  <tr>
    <th>Identifier</th>
    <th></th>
  </tr>
  <%= render :partial => "page_entry", :collection => @subpages %>
</table>
