<h1>
  <%= h(@news_item.headline) %>
  <% if current_user -%>
      <%= link_to "edit...", edit_news_item_path(@news_item), { :class => "more" } %>
  <% end -%>
</h1>

<div id="news-item-content">
  <%= textilize @news_item.content %>
</div>
