<div id="contact-information">
  <p>
    <a href="http://www.calvin.edu/~<%= @user.username %>/">home page</a>

    <br/><%= mail_to @user.email_address, @user.email_address %>

    <% if @user.office_phone -%>
        <br/><%= @user.office_phone %>
    <% end -%>

    <% if @user.office_location -%>
        <br/><%= @user.office_location %>
    <% end -%>
  </p>
</div>
