<div id="contact-information">
  <p>
  	<a href="http://www.calvin.edu/~<%= @user.username %>/">home page</a>
	|
	<%= mail_to @user.email_address, @user.email_address %>
  </p>
  
  <% if current_user %>
    <p>
      <strong>Office phone:</strong>
    </p>
  <% elsif @user.office_phone -%>
    <p><strong>Office phone:</strong> <%= @user.office_phone %></p>
  <% end -%>

  <% if current_user %>
    <p>
      <strong>Office location:</strong>
    </p>
  <% elsif @user.office_location -%>
    <p><strong>Office location:</strong> <%= @user.office_location %></p>
  <% end -%>
</div>
