<% if see_education(@user) -%>
  <div id="education">
    <h2>Education</h2>

    <ul>
        <%= render :partial => 'degree', :collection => @user.degrees %>
    </ul>

    <% restrict_to :edit do -%>
      <h2>Education Edits</h2>
      <div id="education_edits">
        <%= render :partial => 'degree_edit', :collection => @user.degrees %>
      </div>
      <%= link_to_remote "Add degree",
          :url => { :action => "add_degree", :id => @user.id } %>
    <% end -%>
  </div>
<% end -%>
