<% if see_interests(@user) -%>
  <div id="interests">
    <h2>Interests</h2>
  
    <% if @user.subpage(:interests) -%>
      <%= textilize @user.subpage(:interests).content %>
    <% end -%>
  </div>
<% end -%>
