<% if @user.subpage(:profile) || current_user -%>
  <div id="profile">
    <h2>Profile</h2>
  
    <% if @user.subpage(:profile) -%>
      <%= textilize @user.subpage(:profile).content %>
    <% end -%>
  
    <% restrict_to :edit do -%>
      <p>
        <%= link_to "edit profile", :controller => "page",
          :action => "edit", :id => "_#{@user.username}_profile" %>
      </p>
    <% end -%>
  </div>
<% end -%>
