<div id="full_name_header"><h1><%= h(@user.full_name) %></h1></div>

<%= render :partial => 'name' %>

<%= render :partial => 'page/image' %>

<%= render :partial => 'contact_information' %>

<%= render :partial => 'education' %>

<%= render :partial => 'interests' %>

<%= render :partial => 'status' %>

<%= render :partial => 'profile' %>
