<h1><%= h(@course.identifier + ": " + @course.title) %></h1>

<p><%= @course.credits %> credits</p>

<p><%= h(@course.description) %></p>

<p><%= link_to 'Back to course listing', :action => 'index' %></p>
