<h1>
  <%= h(@course.full_title) %>
  <% if current_user -%>
      <%= link_to "edit", edit_course_path(@course), :class => 'more' %>
  <% end -%>
</h1>

<p><%= link_to 'Back to list of courses', courses_path, :class => "more" %></p>
