<h1>All Documents</h1>

<ul>
  <% @documents.each do |document| -%>
    <li>
      <%= link_to h(document.title), :action => 'view', :id => document.identifier %>

      <% if current_user -%>
        <%= button_to 'Destroy', { :action => 'destroy', :id => document },
            :confirm => 'Are you sure you want to destroy this document?',
            :method => :post %>   
      <% end -%>

    </li>
  <% end -%>
</ul>
