<h1>
  <%= in_place_editor_field :document, "title" %>
</h1>

<p><%= in_place_editor_field :document, 'content', {}, { :rows => 20, :cols => 40 } %></p>

<p class="identifier"><%= in_place_editor_field :document, 'identifier' %></p>
