<h1>
  <% if current_user -%>
    <%= in_place_editor_field :document, "title" %>
  <% else -%>
    <%= h(@document.title) %>
  <% end -%>
</h1>

<%= RedCloth.new(@document.content).to_html %>

<% restrict_to :admin do -%>
  <p><%= in_place_editor_field :document, 'content', {}, { :rows => 20, :cols => 40 } %></p>
<% end -%>
  
<% restrict_to :admin do -%>
  <p class="identifier"><%= in_place_editor_field :document, 'identifier' %></p>
<% end -%>
