<h1>Tag a New Image</h1>

<% form_for :image, :url => { :action => "create" } do |form| -%>
    <table summary="image data">
      <tr>
        <td>URL:</td>
        <td><%= form.text_field :url, :size => 80 %></td>
      </tr>
      <tr>
        <td>Caption:</td>
        <td><%= form.text_area :caption, :rows => 4, :cols => 80 %></td>
      </tr>
      <tr>
        <td>Tags:</td>
        <td><%= form.text_field :tags_string, :size => 40 %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= submit_tag "Add image", :class => "submit" %></td>
      </tr>
    </table>
<% end %>