<br style="clear: both;"/><!-- IE fix -->

<div id="footer">
  <div class="gutter">

    <div class="column-1">
      <div class="vcard"><a class="url fn" href="http://www.calvin.edu"><strong>Calvin College</strong></a>
        <span class="org">Calvin College</span>
        <span class="adr"> <span class="street-address">3201 Burton SE</span> <span class="locality">Grand Rapids</span>, <span class="region">MI</span> <span class="postal-code">49546</span> </span>
        <span class="tel">(616) 526-6000</span> | 1-800-688-0122 | <a href="mailto:info@calvin.edu">info@calvin.edu</a>
      </div>

      <ul id="inquiries">
        <li><a href="http://www.calvin.edu/hr/">Jobs</a> |</li>
        <li class="last"><a href="http://www.calvin.edu/about/copyright.htm">&copy; <%= Date.today.year %> Calvin College</a></li>
      </ul>
    </div>

    <div class="column-2">
      <dl id="resources">

        <dt>Inside Calvin</dt>
        <dd><a href="http://www.calvin.edu/resource/student.htm">Students</a> |</dd>
        <dd><a href="http://www.calvin.edu/resource/faculty.htm">Faculty &amp; Staff</a> |</dd>
        <dd><a href="http://www.calvin.edu/alumni/">Alumni</a> |</dd>

        <dd class="last"><a href="http://www.calvin.edu/parents/">Parents</a></dd>
      </dl>

      <dl id="social">
        <dt>Let's Connect</dt>
        <dd class="youtube">
          <a href="http://www.youtube.com/CalvinCollege" title="Watch us on YouTube"><img src="http://www.calvin.edu/images/icons/social/youtube.png" width="19" height="19" alt="Calvin College on YouTube"/></a>
        </dd>
        <dd class="vimeo">
          <a href="http://www.vimeo.com/calvincollege" title="Watch us on Vimeo"><img src="http://www.calvin.edu/images/icons/social/vimeo.png" width="19" height="19" alt="Calvin College on Vimeo"/></a>
        </dd>
        <dd class="twitter">
          <a href="http://twitter.com/calvincollege" title="Follow @CalvinCollege on Twitter"><img src="http://www.calvin.edu/images/icons/social/twitter.png" width="19" height="19" alt="Follow @CalvinCollege on Twitter"/></a>
        </dd>
        <dd class="facebook">
          <a href="http://www.facebook.com/calvincollege" title="Join us on Facebook"><img src="http://www.calvin.edu/images/icons/social/facebook.png" width="19" height="19" alt="Calvin College on Facebook"/></a>
        </dd>

        <dd class="linked">
          <a href="http://www.linkedin.com/groups?gid=1449847" title="Join us on LinkedIn"><img src="http://www.calvin.edu/images/icons/social/linkedin.png" width="19" height="19" alt="Calvin College on LinkedIn"/></a>
        </dd>
      </dl>
    </div>
  </div>
</div>
