<div id="search">
  <form action="http://www.google.com/search" method="get" id="MenuGoogleSearch">
    <input name="q" class="search" id="q" onfocus="if(this.value=='Search'){this.value=''};" onblur="if(this.value==''){this.value='Search'};" value="Search" size="21" maxlength="255" type="text">
    <input name="sa" value="Go" class="search" type="submit">
    <input name="sitesearch" id="sitesearch" value="cs.calvin.edu" type="hidden">
    <input name="hq" value="inurl:cs.calvin.edu/" type="hidden"><br>
    <span class="bodycopy-small">Powered by <a href="http://www.google.com/">Google</a></span>
  </form>
</div><!-- Google Search -->
