<div id="header"> 
  <div class="gutter"> 
    <div id="nameplate-calvin"><a href="http://www.calvin.edu/">Calvin College</a></div> 
    <div id="site-tools"> 
      <ul class="global-menu"> 
        <li class="globalabout"><a href="http://www.calvin.edu/about/">About</a> 
  <ul> 
    <li class="home"><a href="http://www.calvin.edu/about/">Overview</a></li> 
    <li class="identity"><a href="http://www.calvin.edu/about/identity.html"  title="Calvin College Summary Statement of Identity and Mission">Our Identity</a></li> 
    <li class="mission"><a href="http://www.calvin.edu/about/mission.html" title="The Mission of Calvin College">Our Mission</a></li> 
    <li class="calling"><a href="http://www.calvin.edu/about/shalom.html" title="Educating for Shalom: Our Calling as a Christian College">Our Calling</a></li> 
    <li class="distinctives"><a href="http://www.calvin.edu/about/distinctives/">Calvin Distinctives</a></li> 
	<li class="history"><a href="http://www.calvin.edu/about/history.html">History</a></li> 
    <li class="john"><a href="http://www.calvin.edu/about/john-calvin/">John Calvin</a></li> 
    <li class="crcna"><a href="http://www.crcna.org/" title="Christian Reformed Church">Church &raquo;</a></li> 
    <li class="crcna"><a href="http://www.calvin.edu/about/administration/">Administration</a></li> 
  <li class="contact"><a href="http://www.calvin.edu/about/contact.html">Contact Us</a></li> 
  </ul> 
        </li> 
        <li class="globalacademics"><a href="http://www.calvin.edu/academics/">Academics</a> 
          <ul> 
    <li class="overview"><a href="http://www.calvin.edu/academics/" title="Overview">Overview</a></li> 
    <li class="majors"><a href="http://www.calvin.edu/academics/majors-minors/" title="Major and Minors">Majors &amp; Programs</a></li> 
    <li class="reputation"><a href="http://www.calvin.edu/academics/reputation/" title="Acacdemic Reputation">Academic Reputation</a></li> 
    <li class="reputation"><a href="http://www.calvin.edu/academics/faculty/">Faculty</a></li> 
    <li class="opportunities"><a href="http://www.calvin.edu/academics/opportunities/" title="Learning Opportunities">Learning Opportunities</a></li> 
    <li class="global"><a href="/academics/global/">Global Connections</a></li> 
    <li class="services"><a href="http://www.calvin.edu/academics/student-services/" title="Student Services">Student Services</a></li> 
    <li class="services"><a href="http://www.calvin.edu/academics/majors-minors/index.html?display=dept" title="Academic Departments">Departments</a></li> 
    <li class="institutes"><a href="http://www.calvin.edu/academics/centers-institutes/" title="Centers and Institutes">Centers and Institutes</a></li> 
    <li class="library"><a href="http://library.calvin.edu/" title="Hekman Library">Hekman Library</a></li> 
</ul> 
 
        </li> 
        <li class="globaladmissions"><a href="http://www.calvin.edu/admissions/">Admissions</a> 
          <ul> 
            <li class="home"><a href="http://www.calvin.edu/admissions/">Overview</a></li> 
            <li class="info"><a href="https://www.calvin.edu/cgi-bin/std_form.pl?f=admissions" title="Getting Started with Calvin">Request Information</a></li> 
            <li class="visit"><a href="http://www.calvin.edu/visit/">Visit</a></li> 
            <li class="apply"><a href="http://www.calvin.edu/admissions/apply/">Apply</a></li> 
            <li class="apply"><span class="finaid"><a href="http://www.calvin.edu/admin/finaid/" title="Scholarships and Financial Aid">Financial Aid</a></span></li> 
            <li class="transfer"><a href="http://www.calvin.edu/admissions/transfers/">Transfers</a></li> 
            <li class="international"><a href="http://www.calvin.edu/admissions/intl/">Internationals</a></li> 
            <li class="admits"><a href="http://www.calvin.edu/admissions/admits/">Admitted Students</a></li> 
            <li class="profile"><a href="http://www.calvin.edu/admissions/profile.html">Quick Facts</a></li> 
            <li class="contact"><a href="http://www.calvin.edu/admissions/contact-us.html">Contact Us</a></li> 
          </ul> 
        </li> 
        <li class="globalcommunity"><a href="http://www.calvin.edu/community/" title="The Calvin Community">Community</a> 
<ul> 
    <li class="home"><a href="http://www.calvin.edu/community/">Overview</a></li> 
    <li class="faith"><a href="http://www.calvin.edu/community/faith-worship.html">Faith &amp; Worship</a></li> 
  	<li class="stu-opps"><a href="http://www.calvin.edu/community/student-opportunities.html">Student Opportunities</a></li> 
  	<li class="stu-opps"><span class="health"><a href="http://www.calvin.edu/community/health-fitness.html">Health &amp; Fitness</a></span></li> 
	<li class="housing"><a href="http://www.calvin.edu/community/housing-dining/">Housing &amp; Dining</a></li> 
    <li class="sports"><a href="http://www.calvin.edu/community/sports.html">Sports &amp; Recreation</a></li> 
    <li class="health"><a href="http://www.calvin.edu/community/diversity.html">Diversity</a></li> 
    <li class="health"><a href="http://www.calvin.edu/community/calvin-in-grand-rapids.html">Grand Rapids, MI</a></li> 
    <li class="news"><a href="http://www.calvin.edu/news/">News &amp; Stories</a></li> 
    <li class="events"><a href="http://www.calvin.edu/calendar/">Calendar</a></li> 
</ul> 
        </li> 
      </ul> 
      <div id="search-container"> 
        <div id="search-box"> 
          <div class="gutter"> 
            <form method="get" action="http://search.calvin.edu/search" id="GoogleSearch" style="float:left;"> 
              <input type="text" name="q" id="query" size="25" maxlength="255" value="Search" onfocus="if(this.value=='Search'){this.value=''};" onblur="if(this.value==''){this.value='Search'};" /> 
              <input type="submit" name="btnG" value=" " src="http://www.calvin.edu/images/icons/magnifier.png" class="search-button" title="Go"/> 
              <input type="hidden" name="site" value="calvin" /> 
              <input type="hidden" name="client" value="calvin" /> 
              <input type="hidden" name="proxystylesheet" value="calvin" /> 
              <input type="hidden" name="output" value="xml_no_dtd" /> 
              <input name="sort" value="date:D:L:d1" type="hidden" /> 
            </form> 
          </div> 
          <span><a href="http://www.calvin.edu/a-z/" title="A-Z Index">A-Z</a> | <a href="http://www.calvin.edu/people/" title="People at Calvin">People</a> | <a href="http://www.calvin.edu/calendar/" title="Calendar">Calendar</a> | <a href="http://www.calvin.edu/map/" title="Maps and directions">Maps</a></span></div> 
      </div> 
    </div> 
    <!-- close #header-tools --> 
  </div> 
  <!-- close #header .gutter --> 
  <div id="department"> 
    <div class="gutter"> 
      <div id="nameplate-dept">
        <a href="http://cs.calvin.edu/">Computer Science &amp; Information Systems</a>
      </div> 
    </div> 
    <!-- close #department .gutter --> 
  </div> 
  <!-- close #department --> 
</div> 
<!-- close #header --> 
