<div id="task" style="position: relative; left: -1px;">
  <dl>
    <dt>I Would Like To:</dt>
    <dd id="task-visit"><a href="http://www.calvin.edu/visit/?source=task-cs" title="Visit Campus">Visit campus</a></dd>
    <dd id="task-request"><a href="http://www.calvin.edu/start/?source=task-cs" title="Request Information">Request information</a></dd>
    <dd id="task-contact"><a href="http://www.calvin.edu/admin/admissions/contact.htm?source=task-cs" title="Contact admissions">Contact admissions</a></dd>
    <dd id="task-apply"><a href="http://www.calvin.edu/admin/admissions/apply/?source=task-cs" title="Apply">Apply online</a></dd>
  </dl>
</div>
