<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
  <meta name="keywords" content="calvin college, computer science, christian, academics"/>
  <meta name="description" content="Website of the Department of Computer Science at Calvin College"/>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
  
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag "calvintemplate" , :media => "all" %>
  <%= stylesheet_link_tag "department" , :media => "all" %>
  
  <%= title %>
</head>

<body>

<div id="accessibility">
  <a href="#navbar">Skip to Navigation</a>
  |
  <a href="#content">Skip to Content</a>
</div>

<div id="header">
    <div class="gutter">
	<h1 id="nameplate-calvin"><a href="http://www.calvin.edu/">Calvin College</a></h1>
	<h1 id="nameplate-dept">Computer Science &amp; Information Systems</h1>
    </div>
</div>

<div id="wrapper">

  <div id="content">
    <div class="gutter">  
    
      <%= yield :layout %>
      
      <% if current_user -%>
        <p class="logout">
          <%= link_to "logout", :controller => "users", :action => "logout" %>
          |
          <%= link_to "administrate",
                  :controller => "home", :action => "administrate" %>
        </p>
      <% end -%>
      
    </div>
  </div>

  <div id="sidebar">
    <div id="navbar" class="navigation">
      <%= render :partial => 'layouts/mainmenu' %>
      <%= render :partial => 'layouts/googlesearch' %>
      <%= render :partial => 'layouts/tasks' %>
    </div>
  </div>

  <%= render :partial => 'layouts/footer' %>

</div>
  
</body>
</html>

